extends ./layout
block content
    main.row
        input.search(type="text" placeholder="Search")
        nav
        ul.filter
            li.button_filter.basis-2
                a(href="#") All
            li.button_filter.basis-2
                a(href="#") Films
            li.button_filter.basis-2
                a(href="#") Games
            li.button_filter.basis-2
                a(href="#") Animations
            li.button_filter.basis-2
                a(href="#") Music
            li.button_filter.basis-2
                a(href="#") Startups
        .projects.flex
            a(href="#").project.col.basis-3
                img(src="#" alt="Project pic")
                h3 Project Name
                p.proj_description
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                    | veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                p.proc_creator
                    i By Name Surname
            a(href="#").project.col.basis-3
                img(src="#" alt="Project pic")
                h3 Project Name
                p.proj_description
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                    | veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                p.proc_creator
                    i By Name Surname
            a(href="#").project.col.basis-3
                img(src="#" alt="Project pic")
                h3 Project Name
                p.proj_description
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                    | veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                p.proc_creator
                    i By Name Surname
                

